<nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color:lightgreen;;">
    <a class="navbar-brand" routerLink="/"><i class="mx-3 fa-solid">V I C K</i>HOSPITAL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="doctors/doctor/add">Create Doctor</a>
        <a class="nav-item nav-link" routerLink="doctor/view">Search Doctor</a>
        <a class="nav-item nav-link" routerLink="patients/patient/add">Admit Patient</a>
        <a class="nav-item nav-link" routerLink="patient/view">Search Patient</a>
      </div>
    </div>
  </nav>























  <!--    <div>
        <div>
          
        </div>
      </div>
    </div> -->