<div class="bg">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="h3 fw-bold text-dark my-4">Create Doctor 
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <form >
          <div class="mb-2">
            <label for="">Name</label>
            <input name="name" [(ngModel)]="doctor.name" name="name" [value]="doctor.name" required="true" type="text" class="form-control" placeholder="Doctor name">
          </div>
          <div class="mb-2">
            <label for="">Specialization</label>
            <input name="field" [(ngModel)]="doctor.field" name="field" [value]="doctor.field" required="true" type="text" class="form-control" placeholder="Enter Field">
          </div>
          <div class="mb-2">
            <label for="">Age</label>
            <input name="age" [(ngModel)]="doctor.age" name="age" [value]="doctor.age" required="true" type="number" class="form-control" placeholder="Enter age">
          </div>
          <div class="mb-2">
            <label for="gender">Choose Gender</label>
            <select id="gender"[(ngModel)]="doctor.gender" [value]="doctor.gender" class="form-control" name="gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="others">Others</option>
            </select>
          </div>
          <div class="mb-2">
            <button type="submit" (click)="saveDoctor()" class="btn btn-primary">Create</button>
            <a routerLink="/" class="btn btn-danger ms-2">Close</a>
          </div>

        </form>
      </div>
     
    </div>
  </div>
</div>
<!-- <pre>{{doctor | json}}</pre> -->
